[package]
name = "muscley-wusaley"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = "0.11.0"
bevy_fundsp = { version = "0.3.0", path = "../bevy_fundsp" }
bevy_panorbit_camera = "0.7.0"
bevy_toon_shader = "0.2.0"
bevy_xpbd_3d = { version = "0.2.0", path = "../bevy_xpbd/crates/bevy_xpbd_3d", default-features = false, features = ["3d", "f64", "collider-from-mesh", "parallel", "debug-plugin"] }
nalgebra = "0.32.3"
parry3d-f64 = "0.13.5"
rand = "0.8.5"
