[package]
name = "muscley-wusaley"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = "0.11.0"
bevy_panorbit_camera = "0.7.0"
bevy_xpbd_3d = { version = "0.2.0", path = "../bevy_xpbd/crates/bevy_xpbd_3d", features = ["debug-plugin"] }
parry3d = "0.13.5"
